DJANGO_SETTINGS_MODULE=config.settings.development
DJANGO_ALLOWED_HOSTS=0.0.0.0,127.0.0.1
DJANGO_SECRET_KEY='django-insecure-dv^=22yev#f17ux_4c6486tce#6f1e+o-$%m%t%cv=6l_^uzqy'
DJANGO_DEBUG=true

#database
POSTGRES_USER=test-user
POSTGRES_PASSWORD=secret-pass
POSTGRES_DB=safyar-db
POSTGRES_EXTERNAL_PORT=5432
POSTGRES_HOST=postgres